<!-- TODO: Check to see if there is a way to get errors to work with Turbo on. -->
<div class="wrestler-display-container">
	<%= form_with model: wrestler, class: "wrestler-form",local: true, data: { turbo: false } do |form| %>

		<div class="wrestler-form-container">
			<!-- Left Side of Card -->
			<%= form.text_field :name, class: "wrestler-name grid-line-bold", placeholder: "Name" %>

			<div class="wrestler-gc-header grid-line-bold">GENERAL CARD</div>

			<!-- Left Side of GC -->
			<div class="gc2">
				<%= form.label 2 %>
				<%= form.text_field :gc02 %>
			</div>

			<!-- Right Side of GC -->
			<div class="gc7">
				<%= form.label 7 %>
				<%= form.text_field :gc07 %>
			</div>


			<!-- Right Side of Card -->
	  	<div class="wrestler-oc-header grid-line-bold">OFFENSIVE CARD</div>

	  	<div class="oc2">
				<%= form.label 2 %>
				<%= form.text_field :oc02 %>
			</div>



			<!-- Submit and Cancel buttons -->
			<div class="wrestler-submit-cancel grid-line">
					<div>
						<%= form.submit %>
					</div>

					<div>
						<%= link_to 'Cancel', :back %>
					</div>
				</div>
		</div> <!-- End of wrestler-form-container -->


	<% end %> <!-- End of wrestler-form -->

	<!-- Third Column -->
	<!-- TODO: DRY stats presentation with show view. -->
	<div class="wrestler-stats">
		<div>WRESTLER STATS</div>
		<% if wrestler.errors.any? %>
	  	<%= render 'shared/form_errors', wrestler: wrestler %>
	  <% else %>
	  	<%= render 'shared/form_stats', wrestler: wrestler %>
	  <% end %> <!-- form-with -->

	</div> <!-- End of wrestler-stats -->

</div> <!-- End of wrestler-display-container -->
