<!-- TODO: Check to see if there is a way to get errors to work with Turbo on. -->
<div>
	<%= form_with model: wrestler,local: true, data: { turbo: false } do |form| %>

		<!-- Left Side of Card -->
		<%= form.text_field :name, placeholder: "Name" %>

		<div>
				<div>
					<%= form.submit %>
				</div>

				<div>
					<%= link_to 'Cancel', :back %>
				</div>
			</div>

	<% end %> <!-- End of wrestler-form -->

	<!-- Third Column -->
	<!-- TODO: DRY stats presentation with show view. -->
	<div>
		<div>WRESTLER STATS</div>
		<% if wrestler.errors.any? %>
	  	<%= render 'shared/form_errors', wrestler: wrestler %>
	  <% else %>
	  	<%= render 'shared/form_stats', wrestler: wrestler %>
	  <% end %> <!-- form-with -->

	</div> <!-- End of wrestler-stats -->

</div> <!-- End of wrestler-display-container -->
