<!-- TODO: Check to see if there is a way to get errors to work with Turbo on. -->
<div class="wrestler-display-container">
	<%= form_with model: wrestler, class: "wrestler-form",local: true, data: { turbo: false } do |form| %>

		<div class="wrestler-form-container">
			<!-- Left Side of Card -->
			<%= form.text_field :name, class: "wrestler-name grid-line-bold", placeholder: "Name" %>

			<div class="wrestler-gc-header grid-line-bold">GENERAL CARD</div>

			<!-- Left Side of GC -->
			<div class="gc2">
				<%= form.label 2 %>
				<%= form.text_field :gc02 %>
			</div>
			<div class="gc3">
				<%= form.label 3 %>
				<%= form.text_field :gc03 %>
			</div>
			<div class="gc4">
				<%= form.label 4 %>
				<%= form.text_field :gc04 %>
			</div>
			<div class="gc5">
				<%= form.label 5 %>
				<%= form.text_field :gc05 %>
			</div>
			<div class="gc6">
				<%= form.label 6 %>
				<%= form.text_field :gc06 %>
			</div>

			<!-- Right Side of GC -->
			<div class="gc7">
				<%= form.label 7 %>
				<%= form.text_field :gc07 %>
			</div>
			<div class="gc8">
				<%= form.label 8 %>
				<%= form.text_field :gc08 %>
			</div>
			<div class="gc9">
				<%= form.label 9 %>
				<%= form.text_field :gc09 %>
			</div>
			<div class="gc10">
				<%= form.label 10 %>
				<%= form.text_field :gc10 %>
			</div>
			<div class="gc11">
				<%= form.label 11 %>
				<%= form.text_field :gc11 %>
			</div>

			<!-- Center of General Card -->
			<div class="gc12">
				<%= form.label 12 %>
				<%= form.text_field :gc12 %>
			</div>


			<!-- Defensive Card -->
			<div class="wrestler-dc-header">DEFENSIVE CARD</div>

		  <!-- Left of Defensive Card -->
		  <div class="dc2">
				<%= form.label 2 %>
				<%= form.text_field :dc02 %>
		  </div>
		  <div class="dc3">
				<%= form.label 3 %>
				<%= form.text_field :dc03 %>
		  </div>
		  <div class="dc4">
				<%= form.label 4 %>
				<%= form.text_field :dc04 %>
		  </div>
			<div class="dc5">
				<%= form.label 5%>
				<%= form.text_field :dc05 %>
			</div>
			<div class="dc6">
				<%= form.label 6 %>
				<%= form.text_field :dc06 %>
			</div>

			<!-- Right of Defensive Card -->
			<div class="dc7">
				<%= form.label 7 %>
				<%= form.text_field :dc07 %>
			</div>
			<div class="dc8">
				<%= form.label 8 %>
				<%= form.text_field :dc08 %>
			</div>
			<div class="dc9">
				<%= form.label 9 %>
				<%= form.text_field :dc09 %>
			</div>
			<div class="dc10">
				<%= form.label 10 %>
				<%= form.text_field :dc10 %>
			</div>
			<div class="dc11">
				<%= form.label 11 %>
				<%= form.text_field :dc11 %>
			</div>

			<!-- Center of Defensive Card -->
			<div class="dc12">
				<%= form.label 12 %>
				<%= form.text_field :dc12 %>
			</div>


			<!-- Specialty Card -->
			<div class="wrestler-specialty-header grid-line-bold">SPECIALTY:</div>
			<%= form.text_field :specialty, class: "wrestler-specialty-move" %>

			<div class="s1">
				<%= form.label 1 %>
				<%= form.text_field :s1 %>
			</div>	
			<div class="s2">
				<%= form.label 2 %>
				<%= form.text_field :s2 %>
			</div>
			<div class="s3">
				<%= form.label 3 %>
				<%= form.text_field :s3 %>
			</div>
			<div class="s4">
				<%= form.label 4 %>
				<%= form.text_field :s4 %>
			</div>
			<div class="s5">
				<%= form.label 5 %>
				<%= form.text_field :s5 %>
			</div>
			<div class="s6">
				<%= form.label 6 %>
				<%= form.text_field :s6 %>
			</div>

			<!-- Sub, Tag & Priority -->
			<div class="sub">
		  	<div>SUB:</div>
				<%= form.text_field :subx %>
		    <div>-</div>
				<%= form.text_field :suby %>
			</div>

			<div class="tag">
		    <div>TAG TEAM:</div>
				<%= form.text_field :tagx %>
		    <div>-</div>
				<%= form.text_field :tagy %>
			</div>

			<div class="priority">
				<!-- TODO: Automate Pri-T value based on TT% -->
		    <div>PRIORITY:</div>
				<%= form.text_field :prioritys %>
		  	<div>/</div>
				<%= form.text_field :priorityt %>
			</div>


			<!-- Right Side of Card -->
	  	<div class="wrestler-oc-header grid-line-bold">OFFENSIVE CARD</div>

	  	<div class="oc2">
				<%= form.label 2 %>
				<%= form.text_field :oc02 %>
			</div>
			<div class="oc3">
				<%= form.label 3 %>
				<%= form.text_field :oc03 %>
			</div>
			<div class="oc4">
				<%= form.label 4 %>
				<%= form.text_field :oc04 %>
			</div>
			<div class="oc5">
				<%= form.label 5 %>
				<%= form.text_field :oc05 %>
			</div>
			<div class="oc6">
				<%= form.label 6 %>
				<%= form.text_field :oc06 %>
			</div>
			<div class="oc7">
				<%= form.label 7 %>
				<%= form.text_field :oc07 %>
			</div>
			<div class="oc8">
				<%= form.label 8 %>
				<%= form.text_field :oc08 %>
			</div>
			<div class="oc9">
				<%= form.label 9 %>
				<%= form.text_field :oc09 %>
			</div>
			<div class="oc10">
				<%= form.label 10 %>
				<%= form.text_field :oc10 %>
			</div>
			<div class="oc11">
				<%= form.label 11 %>
				<%= form.text_field :oc11 %>
			</div>
			<div class="oc12">
				<%= form.label 12 %>
				<%= form.text_field :oc12 %>
			</div>



			<!-- Submit and Cancel buttons -->
			<div class="wrestler-submit-cancel grid-line">
					<div>
						<%= form.submit %>
					</div>

					<div>
						<%= link_to 'Cancel', :back %>
					</div>
				</div>
		</div> <!-- End of wrestler-form-container -->


	<% end %> <!-- End of wrestler-form -->

	<!-- Third Column -->
	<!-- TODO: DRY stats presentation with show view. -->
	<div class="wrestler-stats">
		<div>WRESTLER STATS</div>
		<% if wrestler.errors.any? %>
	  	<%= render 'shared/form_errors', wrestler: wrestler %>
	  <% else %>
	  	<%= render 'shared/form_stats', wrestler: wrestler %>
	  <% end %> <!-- form-with -->

	</div> <!-- End of wrestler-stats -->

</div> <!-- End of wrestler-display-container -->
