<div class="wrestler-list">
  <table id="wrestlers">
    <tr>
      <th><%= link_to "Wrestler Name", :sort => "name" %></th>
      <th><%= link_to "Original Card Name", :sort => "sort_name" %></th>
      <th><%= link_to "Set", :sort => "set" %></th>
      <th><%= link_to "Card Number", :sort => "card_number" %></th>
      <th><%= link_to "PRI (S)", :sort => "prioritys" %></th>
      <th><%= link_to "PRI (TT)", :sort => "priorityt" %></th>
      <th><%= link_to "Tag %", :sort => "tt" %></th>
      <th><%= link_to "Card Rating", :sort => "card_rating" %></th>
      <th><%= link_to "OC Prob", :sort => "oc_prob" %></th>
      <th><%= link_to "Points Per Round", :sort => "total_points" %></th>
      <th><%= link_to "DQ Prob", :sort => "dq_prob" %></th>
      <th><%= link_to "P/A Prob", :sort => "pa_prob" %></th>
      <th><%= link_to "Sub Prob", :sort => "sub_prob" %></th>
      <th><%= link_to "XX Prob", :sort => "xx_prob" %></th>
      <th><%= link_to "Sub Loss Prob", :sort => "submission" %></th>
      <th><%= link_to "Tag Save Prob", :sort => "tag_team_save" %></th>
    </tr>
    <% @wrestlers.each do |wrestler| %>
      <tr>
          <td><%= link_to sort_name_display(wrestler.sort_name, wrestler.name), wrestler %></td>
          <td><%= wrestler.name %></td>
          <td><%= wrestler.set %></td>
          <td><%= wrestler.card_number || wrestler.id %></td>
          <td><%= singles_priority_display(wrestler.prioritys) %></td>
          <td><%= tag_team_priority_display(wrestler.priorityt) %></td>
          <td class="value"><%= "%.0f" % (wrestler.tt * 100) %>%</td>
          <td class="value"><%= "%.1f" % wrestler.card_rating %></td>
          <td class="value"><%= "%.0f" % (wrestler.oc_prob * 100) %>%</td>
          <td class="value"><%= "%.3f" % wrestler.total_points %></td>
          <td class="value"><%= "%.0f" % (wrestler.dq_prob * 100) %>%</td>
          <td class="value"><%= "%.0f" % (wrestler.pa_prob * 100) %>%</td>
          <td class="value"><%= "%.0f" % (wrestler.sub_prob * 100) %>%</td>
          <td class="value"><%= "%.0f" % (wrestler.xx_prob * 100) %>%</td>
          <td class="value"><%= "%.0f" % (wrestler.submission * 100) %>%</td>
          <td class="value"><%= "%.0f" % (wrestler.tag_team_save * 100) %>%</td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <p>To use an existing card as a template, click on the wrestler's name. If you would like to make a new card from scratch, select "Create a New Wrestler" from the nav bar.</p>
  <p>For more informatoin about the computer game, please visit the "About" page via the link on the nav bar.</p>
  </div>