<!-- <div class="wrestler_show_wrapper"> -->
<div class="wrestler-display-container">
  <div class="wrestler-show">
    <div class="wrestler-show-container">
      <!-- Left Side of Card -->
      <div class="wrestler-name grid-line-bold"><%= @wrestler.name %></div>

      <div class="wrestler-gc-header grid-line-bold-left grid-line-bold-right grid-line-bold-bottom">GENERAL CARD</div>

      <!-- Left Side of GC -->
      <div class="gc2 grid-line-bold-left grid-line-bottom">
        <div class="roll-number">2</div>
        <div class="gc-dc-input">
          <%= @wrestler.gc02 %>
        </div>
      </div>

      <div class="gc3 grid-line-bold-left grid-line-bottom">
        <div class="roll-number">3</div>
        <div class="gc-dc-input"><%= @wrestler.gc03 %></div>
      </div>

      <div class="gc4 grid-line-bold-left grid-line-bottom">
        <div class="roll-number">4</div>
        <div class="gc-dc-input"><%= @wrestler.gc04 %></div>
      </div>

      <div class="gc5 grid-line-bold-left grid-line-bottom">
        <div class="roll-number">5</div>
        <div class="gc-dc-input">
          <%= @wrestler.gc05 %>
        </div>
      </div>

      <div class="gc6 grid-line-bold-left grid-line-bottom">
        <div class="roll-number">6</div>
        <div class="gc-dc-input">
          <%= @wrestler.gc06 %>
        </div>
      </div>

      <!-- Right Side of GC -->
      <div class="gc7 grid-line-left grid-line-bold-right grid-line-bottom">
        <div class="roll-number">7</div>
        <div class="gc-dc-input">
          <%= @wrestler.gc07 %>
        </div>
      </div>

      <div class="gc8 grid-line-left grid-line-bold-right grid-line-bottom">
        <div class="roll-number">8</div>
        <div class="gc-dc-input">
          <%= @wrestler.gc08 %>
        </div>
      </div>

      <div class="gc9 grid-line-left grid-line-bold-right grid-line-bottom">
        <div class="roll-number">9</div>
        <div class="gc-dc-input">
          <%= @wrestler.gc09 %>
        </div>
      </div>

      <div class="gc10 grid-line-left grid-line-bold-right grid-line-bottom">
        <div class="roll-number">10</div>
        <div class="gc-dc-input">
          <%= @wrestler.gc10 %>
        </div>
      </div>

      <div class="gc11 grid-line-left grid-line-bold-right grid-line-bottom">
        <div class="roll-number">11</div>
        <div class="gc-dc-input">
          <%= @wrestler.gc11 %>
        </div>
      </div>

      <!-- Center of General Card -->
      <div class="gc12 grid-line-bold-left grid-line-bold-right grid-line-bold-bottom">
        <div class="roll-number">12</div>
        <div class="gc-dc-input">
          <%= @wrestler.gc12 %>
        </div >
      </div>


      <!-- Defensive Card -->
      <div class="wrestler-dc-header grid-line-bold-left grid-line-bold-right grid-line-bold-bottom">DEFENSIVE CARD</div>

      <!-- Left of Defensive Card -->
      <div class="dc2 grid-line-bold-left grid-line-bottom">
        <div class="roll-number">2</div>
        <div class="gc-dc-input"><%= @wrestler.dc02 %></div>
      </div>

      <div class="dc3 grid-line-bold-left grid-line-bottom">
        <div class="roll-number">3</div>
        <div class="gc-dc-input"><%= @wrestler.dc03 %></div>
      </div>

      <div class="dc4 grid-line-bold-left grid-line-bottom">
        <div class="roll-number">4</div>
        <div class="gc-dc-input"><%= @wrestler.dc04 %></div>
      </div>

      <div class="dc5 grid-line-bold-left grid-line-bottom">
        <div class="roll-number">5</div>
        <div class="gc-dc-input"><%= @wrestler.dc05 %></div>
      </div>

      <div class="dc6 grid-line-bold-left grid-line-bottom">
        <div class="roll-number">6</div>
        <div class="gc-dc-input"><%= @wrestler.dc06 %></div>
      </div>

      <!-- Right of Defensive Card -->
      <div class="dc7 grid-line-bold-right grid-line-bottom">
        <div class="roll-number">7</div>
        <div class="gc-dc-input"><%= @wrestler.dc07 %></div>
      </div>

      <div class="dc8 grid-line-bold-right grid-line-bottom">
        <div class="roll-number">8</div>
        <div class="gc-dc-input"><%= @wrestler.dc08 %></div>
      </div>

      <div class="dc9 grid-line-bold-right grid-line-bottom">
        <div class="roll-number">9</div>
        <div class="gc-dc-input"><%= @wrestler.dc09 %></div>
      </div>

      <div class="dc10 grid-line-bold-right grid-line-bottom">
        <div class="roll-number">10</div>
        <div class="gc-dc-input"><%= @wrestler.dc10 %></div>
      </div>

      <div class="dc11 grid-line-bold-right grid-line-bottom">
        <div class="roll-number">11</div>
        <div class="gc-dc-input"><%= @wrestler.dc11 %></div>
      </div>

      <!-- Center of Defensive Card -->
      <div class="dc12 grid-line-bold-left grid-line-bold-right grid-line-bold-bottom">
        <div class="roll-number">12</div>
        <div class="gc-dc-input"><%= @wrestler.dc12 %></div>
      </div>


            <p>SPECIALTY:</p>

            <p><%= @wrestler.specialty %></p>

            <p>1 <%= @wrestler.s1 %></p>
            <p>2 <%= @wrestler.s2 %></p>
            <p>3 <%= @wrestler.s3 %></p>
            <p>4 <%= @wrestler.s4 %></p>
            <p>5 <%= @wrestler.s5 %></p>
            <p>6 <%= @wrestler.s6 %></p>

            <p>SUB: <%= sub_and_tag_display(@wrestler.subx, @wrestler.suby) %></p>
            <p>TAG TEAM: <%= sub_and_tag_display(@wrestler.tagx, @wrestler.tagy) %></p>
            <p>PRIORITY: <%= @wrestler.prioritys %> / <%= @wrestler.priorityt %></p>

            <!-- Right Side of Card -->
            <p>OFFENSIVE CARD</p>

            <p>2 <%= @wrestler.oc02 %></p> 
            <p>3 <%= @wrestler.oc03 %></p>
            <p>4 <%= @wrestler.oc04 %></p>
            <p>5 <%= @wrestler.oc05 %></p>
            <p>6 <%= @wrestler.oc06 %></p>
            <p>7 <%= @wrestler.oc07 %></p>
            <p>8 <%= @wrestler.oc08 %></p>
            <p>9 <%= @wrestler.oc09 %></p>
            <p>10<%= @wrestler.oc10 %></p>
            <p>11 <%= @wrestler.oc11 %></p>
            <p>12<%= @wrestler.oc12 %></p>

            <p>=ROPES=</p>

            <p>2 <%= @wrestler.ro02 %></p>
            <p>3 <%= @wrestler.ro03 %></p>
            <p>4 <%= @wrestler.ro04 %></p>
            <p>5 <%= @wrestler.ro05 %></p>
            <p>6 <%= @wrestler.ro06 %></p>
            <p>7 <%= @wrestler.ro07 %></p>
            <p>8 <%= @wrestler.ro08 %></p>
            <p>9 <%= @wrestler.ro09 %></p>
            <p>10 <%= @wrestler.ro10 %></p>
            <p>11 <%= @wrestler.ro11 %></p>
            <p>12 <%= @wrestler.ro12 %></p>

            <p><%= @wrestler.set %></p>
            <p>SPWG Card Maker</p>
        </div> <!-- End of wrestler-show-container -->

    </div> <!-- End of wrestler-show -->

    <%= render 'shared/form_stats', wrestler: wrestler, class: "wrestler-stats" %>
</div> <!-- End of wrestler-display-container -->




    