<!-- TODO: Change CSS to ensure that rows do not overlap due to overflow. -->
<div class="wrestler-show">
  <div class="wrestler-show-container">
    <!-- Left Side of Card -->
    <div class="wrestler-name grid-line-bold"><%= @wrestler.name %></div>

    <div class="wrestler-gc-header grid-line-bold-left grid-line-bold-right grid-line-bold-bottom">GENERAL CARD</div>

    <!-- Left Side of GC -->
    <div class="gc2 grid-line-bold-left grid-line-bottom">
      <div class="roll-number">2</div>
      <div class="gc-dc-show">
        <%= @wrestler.gc02 %>
      </div>
    </div>

    <div class="gc3 grid-line-bold-left grid-line-bottom">
      <div class="roll-number">3</div>
      <div class="gc-dc-show"><%= @wrestler.gc03 %></div>
    </div>

    <div class="gc4 grid-line-bold-left grid-line-bottom">
      <div class="roll-number">4</div>
      <div class="gc-dc-show"><%= @wrestler.gc04 %></div>
    </div>

    <div class="gc5 grid-line-bold-left grid-line-bottom">
      <div class="roll-number">5</div>
      <div class="gc-dc-show">
        <%= @wrestler.gc05 %>
      </div>
    </div>

    <div class="gc6 grid-line-bold-left grid-line-bottom">
      <div class="roll-number">6</div>
      <div class="gc-dc-show">
        <%= @wrestler.gc06 %>
      </div>
    </div>

    <!-- Right Side of GC -->
    <div class="gc7 grid-line-left grid-line-bold-right grid-line-bottom">
      <div class="roll-number">7</div>
      <div class="gc-dc-show">
        <%= @wrestler.gc07 %>
      </div>
    </div>

    <div class="gc8 grid-line-left grid-line-bold-right grid-line-bottom">
      <div class="roll-number">8</div>
      <div class="gc-dc-show">
        <%= @wrestler.gc08 %>
      </div>
    </div>

    <div class="gc9 grid-line-left grid-line-bold-right grid-line-bottom">
      <div class="roll-number">9</div>
      <div class="gc-dc-show">
        <%= @wrestler.gc09 %>
      </div>
    </div>

    <div class="gc10 grid-line-left grid-line-bold-right grid-line-bottom">
      <div class="roll-number">10</div>
      <div class="gc-dc-show">
        <%= @wrestler.gc10 %>
      </div>
    </div>

    <div class="gc11 grid-line-left grid-line-bold-right grid-line-bottom">
      <div class="roll-number">11</div>
      <div class="gc-dc-show">
        <%= @wrestler.gc11 %>
      </div>
    </div>

    <!-- Center of General Card -->
    <div class="gc12 grid-line-bold-left grid-line-bold-right grid-line-bold-bottom">
      <div class="roll-number">12</div>
      <div class="gc-dc-show">
        <%= @wrestler.gc12 %>
      </div >
    </div>


    <!-- Defensive Card -->
    <div class="wrestler-dc-header grid-line-bold-left grid-line-bold-right grid-line-bold-bottom">DEFENSIVE CARD</div>

    <!-- Left of Defensive Card -->
    <div class="dc2 grid-line-bold-left grid-line-bottom">
      <div class="roll-number">2</div>
      <div class="gc-dc-show"><%= @wrestler.dc02 %></div>
    </div>

    <div class="dc3 grid-line-bold-left grid-line-bottom">
      <div class="roll-number">3</div>
      <div class="gc-dc-show"><%= @wrestler.dc03 %></div>
    </div>

    <div class="dc4 grid-line-bold-left grid-line-bottom">
      <div class="roll-number">4</div>
      <div class="gc-dc-show"><%= @wrestler.dc04 %></div>
    </div>

    <div class="dc5 grid-line-bold-left grid-line-bottom">
      <div class="roll-number">5</div>
      <div class="gc-dc-show"><%= @wrestler.dc05 %></div>
    </div>

    <div class="dc6 grid-line-bold-left grid-line-bottom">
      <div class="roll-number">6</div>
      <div class="gc-dc-show"><%= @wrestler.dc06 %></div>
    </div>

    <!-- Right of Defensive Card -->
    <div class="dc7 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">7</div>
      <div class="gc-dc-show"><%= @wrestler.dc07 %></div>
    </div>

    <div class="dc8 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">8</div>
      <div class="gc-dc-show"><%= @wrestler.dc08 %></div>
    </div>

    <div class="dc9 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">9</div>
      <div class="gc-dc-show"><%= @wrestler.dc09 %></div>
    </div>

    <div class="dc10 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">10</div>
      <div class="gc-dc-show"><%= @wrestler.dc10 %></div>
    </div>

    <div class="dc11 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">11</div>
      <div class="gc-dc-show"><%= @wrestler.dc11 %></div>
    </div>

    <!-- Center of Defensive Card -->
    <div class="dc12 grid-line-bold-left grid-line-bold-right grid-line-bold-bottom">
      <div class="roll-number">12</div>
      <div class="gc-dc-show"><%= @wrestler.dc12 %></div>
    </div>


    <!-- Specialty Card -->
    <div class="wrestler-specialty-header grid-line-bold-left grid-line-bold-right grid-line-bold-bottom">SPECIALTY:</div>

    <div class="wrestler-specialty-move grid-line-bold-left grid-line-bold-right grid-line-bottom"><%= @wrestler.specialty %></div>

    <div class="s1 grid-line-bold-left grid-line-bold-right grid-line-bottom">
      <div class="roll-number">1</div>
      <div class="move-show"><%= @wrestler.s1 %></div>
    </div>

    <div class="s2 grid-line-bold-left grid-line-bold-right grid-line-bottom">
      <div class="roll-number">2</div>
      <div class="move-show"><%= @wrestler.s2 %></div>
    </div>

    <div class="s3 grid-line-bold-left grid-line-bold-right grid-line-bottom">
      <div class="roll-number">3</div>
      <div class="move-show"><%= @wrestler.s3 %></div>
    </div>

    <div class="s4 grid-line-bold-left grid-line-bold-right grid-line-bottom">
      <div class="roll-number">4</div>
      <div class="move-show"><%= @wrestler.s4 %></div>
    </div>

    <div class="s5 grid-line-bold-left grid-line-bold-right grid-line-bottom">
      <div class="roll-number">5</div>
      <div class="move-show"><%= @wrestler.s5 %></div>
    </div>

    <div class="s6 grid-line-bold-left grid-line-bold-right grid-line-bold-bottom">
      <div class="roll-number">6</div>
      <div class="move-show"><%= @wrestler.s6 %></div>
    </div>


    <!-- Sub, Tag & Priority -->
    <div class="sub grid-line-bold-left grid-line-bold-right grid-line-bottom">
      <div class="sub-tag-priority-header">SUB:</div>
      <div class="sub-tag-priority-show"><%= sub_and_tag_display(@wrestler.subx, @wrestler.suby) %></div>
    </div>

    <div class="tag grid-line-bold-left grid-line-bold-right grid-line-bottom">
      <div class="sub-tag-priority-header">TAG TEAM:</div>
      <div class="sub-tag-priority-show"><%= sub_and_tag_display(@wrestler.tagx, @wrestler.tagy) %></div>
    </div>

    <div class="priority grid-line-bold-left grid-line-bold-right grid-line-bold-bottom">
      <!-- TODO: Automate Pri-T value based on TT% -->
      <div class="sub-tag-priority-header">PRIORITY:</div>
      <div class="sub-tag-priority-show"><%= @wrestler.prioritys %> / <%= @wrestler.priorityt %></div>
    </div>


    <!-- Right Side of Card -->
    <div class="wrestler-oc-header grid-line-bold-top grid-line-bold-bottom grid-line-bold-right">OFFENSIVE CARD</div>

    <div class="oc2 grid-line-bold-right  grid-line-bottom">
      <div class="roll-number">2</div>
      <div class="move-show"><%= @wrestler.oc02 %></div>
    </div>

    <div class="oc3 grid-line-bold-right  grid-line-bottom">
      <div class="roll-number">3</div>
      <div class="move-show"><%= @wrestler.oc03 %></div>
    </div>

    <div class="oc4 grid-line-bold-right  grid-line-bottom">
      <div class="roll-number">4</div>
      <div class="move-show"><%= @wrestler.oc04 %></div>
    </div>

    <div class="oc5 grid-line-bold-right  grid-line-bottom">
      <div class="roll-number">5</div>
      <div class="move-show"><%= @wrestler.oc05 %></div>
    </div>

    <div class="oc6 grid-line-bold-right  grid-line-bottom">
      <div class="roll-number">6</div>
      <div class="move-show"><%= @wrestler.oc06 %></div>
    </div>

    <div class="oc7 grid-line-bold-right  grid-line-bottom">
      <div class="roll-number">7</div>
      <div class="move-show"><%= @wrestler.oc07 %></div>
    </div>

    <div class="oc8 grid-line-bold-right  grid-line-bottom">
      <div class="roll-number">8</div>
      <div class="move-show"><%= @wrestler.oc08 %></div>
    </div>

    <div class="oc9 grid-line-bold-right  grid-line-bottom">
      <div class="roll-number">9</div>
      <div class="move-show"><%= @wrestler.oc09 %></div>
    </div>

    <div class="oc10 grid-line-bold-right  grid-line-bottom">
      <div class="roll-number">10</div>
      <div class="move-show"><%= @wrestler.oc10 %></div>
    </div>

    <div class="oc11 grid-line-bold-right  grid-line-bottom">
      <div class="roll-number">11</div>
      <div class="move-show"><%= @wrestler.oc11 %></div>
    </div>

    <div class="oc12 grid-line-bold-right">
      <div class="roll-number">12</div>
      <div class="move-show"><%= @wrestler.oc12 %></div>
    </div>


    <!-- Ropes Card -->
    <div class="wrestler-ropes-header grid-line-bold-right grid-line-bold-top grid-line-bold-bottom">=ROPES=</div>

    <div class="rc2 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">2</div>
      <div class="move-show"><%= @wrestler.ro02 %></div>
    </div>

    <div class="rc3 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">3</div>
      <div class="move-show"><%= @wrestler.ro03 %></div>
    </div>

    <div class="rc4 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">4</div>
      <div class="move-show"><%= @wrestler.ro04 %></div>
    </div>

    <div class="rc5 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">5</div>
      <div class="move-show"><%= @wrestler.ro05 %></div>
    </div>

    <div class="rc6 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">6</div>
      <div class="move-show"><%= @wrestler.ro06 %></div>
    </div>

    <div class="rc7 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">7</div>
      <div class="move-show"><%= @wrestler.ro07 %></div>
    </div>

    <div class="rc8 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">8</div>
      <div class="move-show"><%= @wrestler.ro08 %></div>
    </div>

    <div class="rc9 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">9</div>
      <div class="move-show"><%= @wrestler.ro09 %></div>
    </div>

    <div class="rc10 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">10</div>
      <div class="move-show"><%= @wrestler.ro10 %></div>
    </div>

    <div class="rc11 grid-line-bold-right grid-line-bottom">
      <div class="roll-number">11</div>
      <div class="move-show"><%= @wrestler.ro11 %></div>
    </div>

    <div class="rc12 grid-line-bold-right grid-line-bold-bottom">
      <div class="roll-number">12</div>
      <div class="move-show"><%= @wrestler.ro12 %></div>
    </div>

    <div class="wrestler-set grid-line-bold-right grid-line-bold-bottom"><%= @wrestler.set %></div>
    <div class="grid-line-bold-right grid-line-bold-bottom" id="site-plug">SPWG Card Maker</div>

  </div> <!-- End of wrestler-show-container -->
</div> <!-- End of wrestler-show -->





    