<!-- <div class="wrestler_show_wrapper"> -->
<div class="wrestler-display-container">
    <div class="wrestler-show">
        <div class="wrestler-show-container">
            <p class="wrestler-name grid-line-bold"><%= @wrestler.name %></p>

            <p>GENERAL CARD</p>

            <p>2 <%= @wrestler.gc02 %></p>
            <p>3 <%= @wrestler.gc03 %></p>
            <p>4 <%= @wrestler.gc04 %></p>
            <p>5 <%= @wrestler.gc05 %></p>
            <p>6 <%= @wrestler.gc06 %></p>

            <p>7 <%= @wrestler.gc07 %></p>
            <p>8 <%= @wrestler.gc08 %></p>
            <p>9 <%= @wrestler.gc09 %></p>
            <p>10 <%= @wrestler.gc10 %></p>
            <p>11 <%= @wrestler.gc11 %></p>
            
            <p>12 <%= @wrestler.gc12 %></p>

            <p>DEFENSIVE CARD</p>
            <p>2 <%= @wrestler.dc02 %></p>
            <p>3 <%= @wrestler.dc03 %></p>
            <p>4 <%= @wrestler.dc04 %></p>
            <p>5 <%= @wrestler.dc05 %></p>
            <p>6 <%= @wrestler.dc06 %></p>

            <p>7 <%= @wrestler.dc07 %></p>
            <p>8 <%= @wrestler.dc08 %></p>
            <p>9 <%= @wrestler.dc09 %></p>
            <p>10 <%= @wrestler.dc10 %></p>
            <p>11 <%= @wrestler.dc11 %></p>
              
            <p>12 <%= @wrestler.dc12 %></p>

            <p>SPECIALTY:</p>

            <p><%= @wrestler.specialty %></p>

            <p>1 <%= @wrestler.s1 %></p>
            <p>2 <%= @wrestler.s2 %></p>
            <p>3 <%= @wrestler.s3 %></p>
            <p>4 <%= @wrestler.s4 %></p>
            <p>5 <%= @wrestler.s5 %></p>
            <p>6 <%= @wrestler.s6 %></p>

            <p>SUB: <%= sub_and_tag_display(@wrestler.subx, @wrestler.suby) %></p>
            <p>TAG TEAM: <%= sub_and_tag_display(@wrestler.tagx, @wrestler.tagy) %></p>
            <p>PRIORITY: <%= @wrestler.prioritys %> / <%= @wrestler.priorityt %></p>

            <!-- Right Side of Card -->
            <p>OFFENSIVE CARD</p>

            <p>2 <%= @wrestler.oc02 %></p> 
            <p>3 <%= @wrestler.oc03 %></p>
            <p>4 <%= @wrestler.oc04 %></p>
            <p>5 <%= @wrestler.oc05 %></p>
            <p>6 <%= @wrestler.oc06 %></p>
            <p>7 <%= @wrestler.oc07 %></p>
            <p>8 <%= @wrestler.oc08 %></p>
            <p>9 <%= @wrestler.oc09 %></p>
            <p>10<%= @wrestler.oc10 %></p>
            <p>11 <%= @wrestler.oc11 %></p>
            <p>12<%= @wrestler.oc12 %></p>

            <p>=ROPES=</p>

            <p>2 <%= @wrestler.ro02 %></p>
            <p>3 <%= @wrestler.ro03 %></p>
            <p>4 <%= @wrestler.ro04 %></p>
            <p>5 <%= @wrestler.ro05 %></p>
            <p>6 <%= @wrestler.ro06 %></p>
            <p>7 <%= @wrestler.ro07 %></p>
            <p>8 <%= @wrestler.ro08 %></p>
            <p>9 <%= @wrestler.ro09 %></p>
            <p>10 <%= @wrestler.ro10 %></p>
            <p>11 <%= @wrestler.ro11 %></p>
            <p>12 <%= @wrestler.ro12 %></p>

            <p><%= @wrestler.set %></p>
            <p>SPWG Card Maker</p>
        </div> <!-- End of wrestler-show-container -->

    </div> <!-- End of wrestler-show -->

    <%= render 'shared/form_stats', wrestler: wrestler, class: "wrestler-stats" %>
</div> <!-- End of wrestler-display-container -->




    