<h1 class="title">Current Wrestler Card Values & Stats</h1>

<div class="title wrestler-download-wrapper">
    <% if @wrestler.template == true %>
        <%= link_to "New Card From Template", dup_wrestler_path, :action => "dup_wrestler", :id => @wrestler.id, class: "wrestler-download" %>
    <% else %>
        <%= link_to "Edit This Card", edit_wrestler_path, class: "wrestler-download" %>
    <% end %>

    <%= link_to "Show Printable Card", print_wrestler_path(@wrestler), target: "_blank", class: "wrestler-download" %>

    <p class="wrestler-download" id="downloads">Download Card:
        <%= link_to "py", wrestler_path(@wrestler, format: :py) %>
        <%= link_to "Text", wrestler_path(@wrestler, format: :text) %>
        <%= link_to "CSV", wrestler_path(@wrestler, format: :csv) %>
        <%= link_to "Hash", wrestler_path(@wrestler, format: :hash) %>
        
    </p>
</div>

<div class="wrestler-display-container">
    <%= render "shared/show_wrestler", wrestler: @wrestler %>

    <div class="wrestler-stats">
        <%= render 'shared/form_stats', wrestler: @wrestler %>
    <!-- TODO: Why does division need an if statement and not promotion? -->
    <% if @wrestler.template == true %>
        <p>***</p>
        <p>Division: <%= @wrestler.division.name %></p>
        <p>Promotion: <%= @wrestler.promotion.name %></p>
        <p>Set Era: <%= @wrestler.era %></p>
        <p>Set Year: <%= @wrestler.year %></p>
        <p>Card Position: <%= @wrestler.position %></p>
    <% end %>
    </div>
</div> <!-- End of wrestler-display-container -->

