<!-- GC02,GC03,GC04,GC05,GC06,GC07,GC08,GC09,GC10,GC11,GC12,DC02,DC03,DC04,DC05,DC06,DC07,DC08,DC09,DC10,DC11,DC12,	Specialty,S1,S2,S3,S4,S5,S6,	SubA, SubB, TagA, TagB,	PriorityS,	PriorityT,OC02,OC03,OC04,OC05,OC06,OC07,OC08,OC09,OC10,OC11,OC12,RO02,RO03,RO04,RO05,RO06,RO07,RO08,RO09,RO10,RO11,RO12,	SetA, TT, Card Rating,oc_prob,total_points,dq_prob,pa_prob,sub_prob,xx_prob,submission,tag_team_save,SubX,SubY,TagX,TagY,,Division -->
<h1>Existing Wrestler</h1>
<div class="wrapper">
  <div class=wrapper id="left">
    <p class="full one title grid-line"><%= @wrestler.name %></p>

    <p class="full two title grid-line" >GENERAL CARD</p>

    <p class="left three grid-line">GC02: <%= @wrestler.gc02 %></p>
    <p class="left four grid-line">GC03: <%= @wrestler.gc03 %></p>
    <p class="left five grid-line">GC04: <%= @wrestler.gc04 %></p>
    <p class="left six grid-line">GC05: <%= @wrestler.gc05 %></p>
    <p class="left seven grid-line">GC06: <%= @wrestler.gc06 %></p>

    <p class="right three grid-line">GC07: <%= @wrestler.gc07 %></p>
    <p class="right four grid-line">GC08: <%= @wrestler.gc08 %></p>
    <p class="right five grid-line">GC09: <%= @wrestler.gc09 %></p>
    <p class="right six grid-line">GC10: <%= @wrestler.gc10 %></p>
    <p class="right seven grid-line">GC11: <%= @wrestler.gc11 %></p>
    
    <p class="full eight title grid-line">GC12: <%= @wrestler.gc12 %></p>

    <p class="full nine title grid-line">DEFENSIVE CARD</p>
    <p class="left ten grid-line">DC02: <%= @wrestler.dc02 %></p>
    <p class="left eleven grid-line">DC03: <%= @wrestler.dc03 %></p>
    <p class="left twelve grid-line">DC04: <%= @wrestler.dc04 %></p>
    <p class="left thirteen grid-line">DC05: <%= @wrestler.dc05 %></p>
    <p class="left fourteen grid-line">DC06: <%= @wrestler.dc06 %></p>

    <p class="right ten grid-line">DC07: <%= @wrestler.dc07 %></p>
    <p class="right eleven grid-line">DC08: <%= @wrestler.dc08 %></p>
    <p class="right twelve grid-line">DC09: <%= @wrestler.dc09 %></p>
    <p class="right thirteen grid-line">DC10: <%= @wrestler.dc10 %></p>
    <p class="right fourteen grid-line">DC11: <%= @wrestler.dc11 %></p>
      
    <p class="full fifteen title grid-line">DC12: <%= @wrestler.dc12 %></p>

    <p class="full title grid-line">SPECIALTY:</p>

    <p class="full title grid-line"><%= @wrestler.specialty %></p>

    <p class="full grid-line">1: <%= @wrestler.s1 %></p>
    <p class="full grid-line">2: <%= @wrestler.s2 %></p>
    <p class="full grid-line">3: <%= @wrestler.s3 %></p>
    <p class="full grid-line">4: <%= @wrestler.s4 %></p>
    <p class="full grid-line">5: <%= @wrestler.s5 %></p>
    <p class="full grid-line">6: <%= @wrestler.s6 %></p>

    <p class="fu]l grid-line">SUB: <%= @wrestler.subx %>-<%= @wrestler.suby %></p>
    <p class="full grid-line">TAG TEAM: <%= @wrestler.tagx %>-<%= @wrestler.tagy %></p>
    <p class="full grid-line">PRIORITY: <%= @wrestler.prioritys %> / <%= @wrestler.priorityt %></p>
  </div>

  <div class=wrapper id="right">
    <p class="full one grid-line">OFFENSIVE CARD</p>
    <p class="full two grid-line">2 <%= @wrestler.oc02 %></p> 
    <p class="full three grid-line">OC03: <%= @wrestler.oc03 %></p>
    <p class="full four grid-line">OC04: <%= @wrestler.oc04 %></p>
    <p class="full five grid-line">OC05: <%= @wrestler.oc05 %></p>
    <p class="full six grid-line">OC06: <%= @wrestler.oc06 %></p>
    <p class="full seven grid-line">OC07: <%= @wrestler.oc07 %></p>
    <p class="full eight grid-line">OC08: <%= @wrestler.oc08 %></p>
    <p class="full nine grid-line">OC09: <%= @wrestler.oc09 %></p>
    <p class="full ten grid-line">OC10: <%= @wrestler.oc10 %></p>
    <p class="full eleven grid-line">OC11: <%= @wrestler.oc11 %></p>
    <p class="full twelve grid-line">OC12: <%= @wrestler.oc12 %></p>
    <p class="full grid-line">2 <%= @wrestler.ro02 %></p>
    <p class="full grid-line">3 <%= @wrestler.ro03 %></p>
    <p class="full grid-line">4 <%= @wrestler.ro04 %></p>
    <p class="full grid-line">5 <%= @wrestler.ro05 %></p>
    <p class="full grid-line">6 <%= @wrestler.ro06 %></p>
    <p class="full grid-line">7 <%= @wrestler.ro07 %></p>
    <p class="full grid-line">8 <%= @wrestler.ro08 %></p>
    <p class="full grid-line">9 <%= @wrestler.ro09 %></p>
    <p class="full grid-line">10 <%= @wrestler.ro10 %></p>
    <p class="full grid-line">11 <%= @wrestler.ro11 %></p>
    <p class="full grid-line">12 <%= @wrestler.ro12 %></p>
    <p class="full grid-line"><%= @wrestler.set %></p>
  </div>
</div>






<p>Tag Team %: <%= @wrestler.tt %></p>
<p>Overall Card Rating: <%= @wrestler.card_rating %></p>
<p>OC Probability: <%= @wrestler.oc_prob %></p>
<p>Total Points Per Round: <%= @wrestler.total_points %></p>
<p>DQ Probability Per Round: <%= @wrestler.dq_prob %></p>
<p>P/A Probability Per Round: <%= @wrestler.pa_prob %></p>
<p>Submission Move Probability Per Round: <%= @wrestler.sub_prob %></p>
<p>XX Roll Probability Per Round: <%= @wrestler.xx_prob %></p>
<p>Submission Lass Probability: <%= @wrestler.submission %></p>
<p>Tag Save Probability: <%= @wrestler.tag_team_save %></p>
<p>Division: <%= @wrestler.division %></p>

<p><p><%= link_to "Wrestlers", wrestlers_path %></p></p>
<p><%= link_to "Edit", edit_wrestler_path(@wrestler) %></p>
<p><%= link_to "Destroy", wrestler_path(@wrestler),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></p>