<% generate_wrestler_stats(@wrestler) %>
<h1 class="title">Current Wrestler Card Values & Stats</h1>

<div class="title wrestler-download-wrapper">
    <% if @wrestler.template == true %>
        <%= link_to "New Card From Template", dup_wrestler_path, :action => "dup_wrestler", :id => @wrestler.id, class: "wrestler-download" %>
    <% else %>
        <%= link_to "Edit This Card", edit_wrestler_path, class: "wrestler-download" %>
    <% end %>

    <%= link_to "Show Printable Card", print_wrestler_path(@wrestler), target: "_blank", class: "wrestler-download" %>

    <p class="wrestler-download" id="downloads">Download Card:
        <%= link_to "py", wrestler_path(@wrestler, format: :py) %>
        <%= link_to "Text", wrestler_path(@wrestler, format: :text) %>
        <%= link_to "CSV", wrestler_path(@wrestler, format: :csv) %>
    </p>
</div>

<div class="show-container">
    <div class="wrestler_show_wrapper">
        <%= render "shared/show_wrestler", wrestler: @wrestler %>
    </div>

    <div class="stats">
        <p class="title grid-line" #stats-title>STATS</p>
        <p>Tag Team %: <%= number_to_percentage((@wrestler.tt.to_f), precision: 0) %></p>
        <p>Overall Card Rating: <%= "%.1f" % @wrestler.card_rating %></p>
        <p>OC Probability: <%= number_to_percentage((@wrestler.oc_prob.to_f), precision: 0) %></p>
        <p>Total Points Per Round: <%= "%.1f" % @wrestler.total_points %></p>
        <p>DQ Probability Per Round: <%= number_to_percentage((@wrestler.dq_prob.to_f), precision: 0) %></p>
        <p>P/A Probability Per Round: <%= number_to_percentage((@wrestler.pa_prob.to_f), precision: 0) %></p>
        <p>Submission Move Probability Per Round: <%= number_to_percentage((@wrestler.sub_prob.to_f), precision: 0) %></p>
        <p>XX Roll Probability Per Round: <%= number_to_percentage((@wrestler.xx_prob.to_f), precision: 0) %></p>
        <p>Submission Loss Probability: <%= number_to_percentage((@wrestler.submission.to_f), precision: 0) %></p>
        <p>Tag Save Probability: <%= number_to_percentage((@wrestler.tag_team_save.to_f), precision: 0) %></p>
    <!-- TODO: Why does division need an if statement and not promotion? -->
    <% if @wrestler.template == true %>
        <p>Division: <%= @wrestler.division.name %></p>
        <p>Promotion: <%= @wrestler.promotion.name %></p>
    <% end %>
    </div>


    </div>
</div>
