<div class="container">
  <ul class="nav navbar-nav">
      <li class="active"><a href="#">HOME</a></li>
      <li><%=link_to "CREATE A NEW WRESTLER", new_wrestler_path %></li>
      <li><%=link_to "FIND A TEAMPLATE", new_wrestler_path %></li>
      <li><%=link_to "ABOUT", welcome_about_path %></li>
  </ul>
</div>


<p>Navbar</p>
<p><%= link_to "Wrestlers", wrestlers_path %></p>
<p><%= link_to "New Wrestler", new_wrestler_path %></p>