<!-- TODO: Divide "Create a new wrestler" into subgroups, like jobbers. champions, etc. -->
<div class="container">
    <header><%= link_to "Superstar Pro Wrestling Game Card Maker", root_path %></header>
    <nav>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">HOME</a></li>
          <li>
            <div class="dropdown">
                <button class="dropbtn">CREATE A NEW WRESTLER
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <%= link_to "BLANK FORM", new_wrestler_path %>
                  <%= link_to "SET OC AT 75%", wrestler_templates_new_path(oc: "75") %>
                  <%= link_to "SET OC AT 72%", wrestler_templates_new_path(oc: "72") %>
                  <%= link_to "SET OC AT 69%", wrestler_templates_new_path(oc: "69") %>
                  <%= link_to "SET OC AT 67%", wrestler_templates_new_path(oc: "67") %>
                  <%= link_to "SET OC AT 64%", wrestler_templates_new_path(oc: "64") %>
                  <%= link_to "SET OC AT 61%", wrestler_templates_new_path(oc: "61") %>
                  <%= link_to "SET OC AT 58%", wrestler_templates_new_path(oc: "58") %>
                  <%= link_to "SET OC AT 56%", wrestler_templates_new_path(oc: "56") %>
                  <%= link_to "SET OC AT 53%", wrestler_templates_new_path(oc: "53") %>
                  <%= link_to "SET OC AT 50%", wrestler_templates_new_path(oc: "50") %>
                  <%= link_to "SET OC AT 47%", wrestler_templates_new_path(oc: "47") %>
                  <%= link_to "SET OC AT 44%", wrestler_templates_new_path(oc: "44") %>
                  <%= link_to "SET OC AT 42%", wrestler_templates_new_path(oc: "42") %>
                  <%= link_to "SET OC AT 39%", wrestler_templates_new_path(oc: "39") %>
                  <%= link_to "SET OC AT 36%", wrestler_templates_new_path(oc: "36") %>
                  <%= link_to "SET OC AT 33%", wrestler_templates_new_path(oc: "33") %>
                  <%= link_to "SET OC AT 31%", wrestler_templates_new_path(oc: "31") %>
                  <%= link_to "SET OC AT 28%", wrestler_templates_new_path(oc: "28") %>
                  <%= link_to "SET OC AT 25%", wrestler_templates_new_path(oc: "25") %>
                  <%= link_to "SET OC AT 22%", wrestler_templates_new_path(oc: "22") %>
                  <%= link_to "SET OC AT 19%", wrestler_templates_new_path(oc: "19") %>
                  <%= link_to "SET OC AT 17%", wrestler_templates_new_path(oc: "17") %>
                  <%= link_to "SET OC AT 14%", wrestler_templates_new_path(oc: "14") %>
                  <%= link_to "SET OC AT 11%", wrestler_templates_new_path(oc: "11") %>
                  <%= link_to "SET OC AT 8%", wrestler_templates_new_path(oc: "8") %>
                  <%= link_to "SET OC AT 6%", wrestler_templates_new_path(oc: "6") %>
                </div>
              </div>
          </li>          
          <li>
            <div class="dropdown">
                <button class="dropbtn">CARDS BY CATEGORY
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <%=link_to "ALL WRESTLERS", wrestlers_path %>
                  <a href="<%= division_path (Division.find_by name: 'Cruiserweight').id %>">Cruiserweights</a>
                  <a href="<%= division_path (Division.find_by name: 'Fake').id %>">Fake Wrestlers</a>
                  <a href="<%= division_path (Division.find_by name: 'Heavyweight').id %>">Heavyweights</a>
                  <a href="<%= division_path (Division.find_by name: 'Super Heavyweight').id %>">Super Heavyweights</a>
                  <a href="<%= tag_team_wrestlers_index_path %>">Team Team Experts</a>
                  <a href="<%= division_path (Division.find_by name: 'Veteran').id %>">Veterans</a>
                  <a href="<%= division_path (Division.find_by name: 'Women').id %>">Women</a>
                  <a href="<%= division_path (Division.find_by name: 'Young Star').id %>">Young Stars</a>
                </div>
              </div>
            </li>
          <li>
            <div class="dropdown">
                <button class="dropbtn">CARDS BY PROMOTION
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <%=link_to "ALL WRESTLERS", wrestlers_path %>
                  <a href="<%= promotion_path (Promotion.find_by name: 'AWA').id %>">AWA</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Florida').id %>">Florida</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Georgia').id %>">Georgia</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Memphis').id %>">Memphis</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Mid Atlantic').id %>">Mid Atlantic</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Mid South').id %>">Mid South</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Misc').id %>">Misc.</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'NWA').id %>">NWA</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Southwest').id %>">Southwest</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'World Class').id %>">World Class</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'WWF').id %>">WWF</a>
                </div>
              </div>
            </li>
          <li><%=link_to "ABOUT", welcome_about_path %></li>
        </ul>
  </nav>
</div>