<!-- TODO: DRY these links with a helper method. -->
<div class="container">
    <nav>
        <ul class="nav navbar-nav" id="template-navbar">
          <li><%=link_to "ALL WRESTLERS", new_wrestler_path %>
          </li>
          <li>
            <div class="dropdown">
                <button class="dropbtn">SEARCH BY CATEGORY
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="<%= division_path (Division.find_by name: 'Cruiserweight').id %>">Cruiserweights</a>
                  <a href="<%= division_path (Division.find_by name: 'Legend').id %>">Legends</a>
                  <a href="<%= division_path (Division.find_by name: 'Midcard').id %>">Midcarders</a>
                  <a href="<%= division_path (Division.find_by name: 'Preliminary').id %>">Jobbers</a>
                  <a href="<%= division_path (Division.find_by name: 'Regional Champion').id %>">Regional Champions</a>
                  <a href="<%= division_path (Division.find_by name: 'Super Heavyweight').id %>">Super Heavyweights</a>
                  <a href="<%= division_path (Division.find_by name: 'Veteran').id %>">Veterans</a>
                  <a href="<%= division_path (Division.find_by name: 'Women').id %>">Women</a>
                  <a href="<%= division_path (Division.find_by name: 'World Champion').id %>">World Champions</a>
                  <a href="<%= division_path (Division.find_by name: 'Young Star').id %>">Young Stars</a>
                </div>
              </div>
            </li>
            <li>
            <div class="dropdown">
                <button class="dropbtn">SEARCH BY PROMOTION
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="<%= promotion_path (Promotion.find_by name: 'AWA').id %>">AWA</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Florida').id %>">Florida</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Georgia').id %>">Georgia</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Memphis').id %>">Memphis</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Mid Atlantic').id %>">Mid Atlantic</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Mid South').id %>">Mid South</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'NWA').id %>">NWA</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Southwest').id %>">Southwest</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'World Class').id %>">World Class</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'Women').id %>">Women</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'WWC').id %>">WWC</a>
                  <a href="<%= promotion_path (Promotion.find_by name: 'WWF').id %>">WWF</a>
                </div>
              </div>
            </li>
        </ul>
  </nav>
</div>



