<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SPWG Card Maker</title>
    <meta charset=UTF-8>
    <meta name="description" content="Superstar Pro Wrestling Game Card Maker">
    <meta name="keywords" content="Pro Wrestling, Superstar Pro Wrestling Game, Card Maker">
    <meta name="author" content="Michael Coniaris">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- TODO: Find a better way to do this through a controller. -->
    <% unless action_name == "print_wrestler" %>
      <%= render "layouts/navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
